return {
	name = "{{scheme-name}}",
	colors = {
		base = "#{{base00-hex}}",
		surface0 = "#{{base01-hex}}",
		surface1 = "#{{base02-hex}}",
		overlay0 = "#{{base03-hex}}",
		subtext0 = "#{{base04-hex}}",
		text = "#{{base05-hex}}",
		rosewater = "#{{base06-hex}}",
		lavender = "#{{base07-hex}}",
		red = "#{{base08-hex}}",
		peach = "#{{base09-hex}}",
		yellow = "#{{base0A-hex}}",
		green = "#{{base0B-hex}}",
		teal = "#{{base0C-hex}}",
		blue = "#{{base0D-hex}}",
		mauve = "#{{base0E-hex}}",
		flamingo = "#{{base0F-hex}}",
		mantle = "#{{base10-hex}}",
		crust = "#{{base11-hex}}",
		maroon = "#{{base12-hex}}",
		bright_yellow = "#{{base13-hex}}", -- rosewater repurposed as bright yellow/attention
		bright_green = "#{{base14-hex}}", -- green reused
		sapphire = "#{{base15-hex}}",
		bright_magenta = "#{{base16-hex}}", -- lavender or pink
		sky = "#{{base17-hex}}",
	},
}
